<p-blockUI [target]="pnl" [blocked]="isLoading">
    <i class="pi pi-spin pi-spinner" style="font-size: 10rem;color:azure"></i>
</p-blockUI>
<div #pnl class="grid mx-2">
    <div *ngFor="let s of listServices" class="col-12 lg:col-3 md:col-6 sm:col-12"
        (click)="calendar(s.service_type_id)">
        <div class="card p-0 overflow-hidden flex flex-column">
            <div class="flex align-items-center p-3">
                <img [src]="s.icon_filename" class="w-6rem h-6rem" alt="users">
                <div class="ml-3">
                    <span class="text-blue-500 block text-2xl font-bold">{{s.service_type_name}}</span>
                    <span class="text-blue-500 block white-space-nowrap">คลินิก{{s.service_name}}</span>
                    <!-- <span class="text-color-secondary text-sm">{{s.icon_filename}}</span> -->
                </div>
            </div>
        </div>
    </div>
</div>