<div class="surface-ground h-screen w-screen flex align-items-center justify-content-center"
    [ngClass]="{'p-input-filled': filledInput}">
    <div class="surface-card py-7 px-5 sm:px-7 shadow-2 flex flex-column w-11 sm:w-30rem" style="border-radius:14px">
        <h1 class="font-bold text-2xl mt-0 mb-2">Forgot Password?</h1>
        <p class="text-color-secondary mb-4">We need your email address for you can access your account, then we’ll send
            a recovery mail.</p>

        <span class="p-input-icon-left mb-4">
            <i class="pi pi-user"></i>
            <input type="text" pInputText placeholder="Email" class="w-full">
        </span>

        <button [routerLink]="['/']" pButton pRipple label="Send Recovery Mail"></button>
        <br>
       
        <button [routerLink]="['/auth/login']" pbutton pripple type="button" label="กลับไปหน้าล๊อกอิน"
            class="p-element p-ripple p-button-outlined p-button-secondary p-button p-component">
            <span class="p-button-label">กลับไปหน้าล๊อกอิน</span>
            <span class="p-ink" aria-hidden="true" role="presentation">
            </span>
        </button>
        <br>
    </div>
</div>

<app-config [minimal]="true"></app-config>