<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-blockUI [target]="pnl" [blocked]="blockedPanel">
                <i class="pi pi-spin pi-spinner" style="font-size: 3rem"></i>
            </p-blockUI>
            <h5>รายการนัด</h5>

            <p-table #pnl [value]="data_name" scrollDirection="both" [paginator]="true" [rows]="10" [scrollable]="true"
                [showCurrentPageReport]="true" styleClass="mt-3" responsiveLayout="scroll"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="['customer_name']">
                <ng-template pTemplate="caption">
                    <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
                        <span class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(pnl, $event)" placeholder="ค้นหา ชื่อ-สกุล"
                                class="w-full" />
                        </span>
                        
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style=" text-align: center;">ลำดับ</th>
                        <th pSortableColumn="customer_name2">ชื่อ - นามสกุล<p-sortIcon
                                field="customer_name2"></p-sortIcon></th>
                        <th pSortableColumn="slot_name2">ประเภทการนัด <p-sortIcon field="slot_name2"></p-sortIcon>
                        </th>
                        <th pSortableColumn="register_date">วันที่นัด <p-sortIcon field="register_date"></p-sortIcon>
                        </th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data_names let-i="rowIndex">
                    <tr>
                        <td style=" text-align: center;">{{i+1}}</td>
                        <td>
                            {{data_names.customer_name}}
                        </td>
                         <td>
                            {{all_data.slot_name}}
                        </td> 
                        <td>
                          {{all_data.slot_date | date: 'MM/dd/yyyy'}}
                        </td> 

                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">ไม่พบข้อมูล.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">กำลังโหลดข้อมูล กรุณารอสักครู่.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>

</div>