<div class="card bg-card w-full">
    <div class="card-title">
        <div class="text-center text-color-secondary">
            <!--span class="mr-2 text-2xl" >จัดการการจอง</span-->

        </div>
    </div>
    <div class="card-boby">

        <!-- <p-table #dt 
        [value]="management" 
        scrollDirection="both" 
        [paginator]="true" 
        [rows]="10" 
        [scrollable]="true"
        [showCurrentPageReport]="true" 
        styleClass="mt-3" 
        responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,25,50]" 
        [globalFilterFields]="['slot_name','customer_name','phone_number']"> -->



        <p-table #dt 
        [value]="management" 
        scrollDirection="both" 
        [paginator]="true" 
        [rows]="10" 
        [scrollable]="true"
        [showCurrentPageReport]="true" 
        styleClass="mt-3" 
        responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,25,50]" 
        [globalFilterFields]="['slot_name','customer_name','phone_number']">

        <ng-template pTemplate="caption">
            <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
                <span class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="ค้นหา.."
                        class="w-full" />
                </span>
                <!--button  pButton class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1" icon="pi pi-user-plus" label="Add New"></button-->
            </div>
        </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>ลำดับ</th>
                    <th pSortableColumn="customer_name">ชื่อ-สกุล<p-sortIcon field="customer_name"></p-sortIcon></th> 
                    <th pSortableColumn="phone_number">โทรศัพท์<p-sortIcon field="phone_number"></p-sortIcon></th>        
                    <th pSortableColumn="slot_name"  class="white-space-nowrap">นัด<p-sortIcon field="slot_name"></p-sortIcon></th>
                    
                    <th pSortableColumn="service_type_name">บริการ<p-sortIcon field="service_type_name"></p-sortIcon></th>
                    <th pSortableColumn="reserve_date| date: 'MM/dd/yyyy">วันที่นัด<p-sortIcon field="reserve_date| date: 'MM/dd/yyyy"></p-sortIcon></th>
                    <th pSortableColumn="period_name">ช่วงเวลา<p-sortIcon field="period_name"></p-sortIcon></th>
                    <th pSortableColumn="username">ผู้นัด<p-sortIcon field="username"></p-sortIcon></th>
                    <th pSortableColumn="reserve_note">หมายเหตุ<p-sortIcon field="reserve_note"></p-sortIcon></th>
                    <th>สถานะการใช้งาน</th>
                    <th>เลื่อนนัด</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-management>
                <tr>
                    
                    <td>{{management.reserve_id}}</td>
                    <td>{{management.customer_name}}</td>
                    <td>{{management.phone_number}}</td>
                    <td>{{management.slot_name}}</td>
                    
                    <td>{{management.service_type_name}}</td>
                    <td>{{management.reserve_date| date: 'MM/dd/yyyy'}}</td>
                    <td>{{management.period_name}}</td>
                    <td>{{management.username}}</td>
                    <td>{{management.reserve_note}}</td>
                    <td>
                        <div class="flex justify-content-between align-items-center">
                        <button *ngIf="!management.is_confirm" type="button" pButton pRipple icon="pi pi-clock" label="รอยืนยัน" class="mr-2 p-button-secondary" (click)="isconfirm(management.reserve_id,management.is_confirm)"></button>
                        <button *ngIf="management.is_confirm" type="button" pButton pRipple icon="pi pi-check" label="ยืนยัน" class="mr-2 p-button-success p-button-raised" (click)="isconfirm(management.reserve_id,management.is_confirm)"> </button>
                    </div>
                    </td>
                    <td>
                        <button type="button" pButton pRipple icon="pi pi-calendar" class="mr-2 p-button-warning p-button-raised"  label="เลื่อนนัด" (click)="displayFormEdit(management)"></button>

                    </td>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog [(visible)]="displayForm" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '30vw',height:'30vw'}">
    <ng-template pTemplate="header">
        <span *ngIf="isAdd"><h5>จองนัดแพทย์</h5></span>
        <span *ngIf="isEdit"><h5>เลื่อนนัด</h5></span>
    </ng-template>
    <ng-template pTemplate="content">
        <div *ngIf="isAdd" class="p-fluid">
            <div class="p-field">
                <label for="service_name">Slot</label>
                <input type="text" id="service_name" [(ngModel)]="managementName" pInputText>
            </div>
        </div>
        <div *ngIf="isEdit" class="p-fluid">
            <div class="p-field">
                <label for="service_name"><h6>เลือกวันนัด</h6></label>
                <!--input type="text" id="service_name" [(ngModel)]="managementNameEdit" pInputText-->
                <p-dropdown [options]="listSlotByID" [(ngModel)]="selectedDrop" optionLabel="valuename" placeholder="กรุณาเลือกเวลานัด" [filter]="true" [showClear]="true">

                </p-dropdown>

                
                
            </div>
            <!--div class="p-field">
                <label for="service_name">สถานะการใช้งาน</label>
                <div class="p-formgroup-inline">
                    <p-inputSwitch [(ngModel)]="managementActiveEdit"></p-inputSwitch>
                </div>
            </div-->
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button *ngIf="isAdd" type="button" pButton icon="pi pi-check" class="p-button-raised p-button-success" (click)="save()" label="เพิ่มรายการ"></button>
        <button *ngIf="isEdit" type="button" pButton icon="pi pi-check" class="p-button-raised p-button-success" (click)="update()" label="บันทึกแก้ไข"></button>
    </ng-template>
</p-dialog>
